if SHIELD_CORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "Corney"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_CORNE_LEFT

if SHIELD_CORNE_LEFT || SHIELD_CORNE_RIGHT

config ZMK_SPLIT
    default y

# Enable mouse support
config ZMK_MOUSE
    default y

config ZMK_POINTING
    default y


endif # SHIELD_CORNE_LEFT || SHIELD_CORNE_RIGHT
